
.icon {
  height: 2em;
  width: auto;
}

.active {
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}

.table {
  margin-top: 2em;
  margin-bottom: 2em;

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.row {
  &:hover {
    background-color: #eee;
  }
}
